@inject ApiClientService ApiClient
@inject NavigationManager navManager

<div class="row border rounded-3">
    <div class="col-5 p-0">
        @if (Listing.ImagesBase64.Count > 0)
        {
            <div class="rounded-start position-relative" style="width: 530px; height:430px; cursor: pointer;" @onclick="GoToListing">
            <img src="@Listing.ImagesBase64[0].ImageAsBase64" class="rounded-start" style="width: 100%; height: 100%; object-fit:cover" />

            @if (Listing.ImagesBase64.Count > 1)
            {
                <div class="position-absolute end-0" style="bottom: 20px;">
                    <span class="fs-4 badge text-black rounded-start" style="background: #EEEA">+@moreImages</span>
                </div>
            }
            </div>
        }
        else
        {
            <div class="rounded-start border-end d-flex flex-column justify-content-center align-items-center" style="width: 520px; height:100%; cursor: pointer;" @onclick="GoToListing">
                <h3 class="fw-bold">¯\_(ツ)_/¯</h3>
                <span>This listing has no images.</span>
            </div>
        }
      
    </div>
    <div class="col p-3 position-relative">
       <div class="d-flex justify-content-between">
            @* title*@
            <h2 class="card-title font-weight-bold"><a class="text-decoration-none" href="listings/@Listing.Id">@Listing.Title</a></h2>
            
            @* price *@
            <div>
            <h2 class="fw-light">@Listing.PriceString</h2>
                @if (@Listing.IsNegotiable)
                {
                    <p style="text-align:right;" class="fw-bold">Negotiable&nbsp;<i class="oi oi-tags"></i></p>
                }
            </div>
       </div>

       @* category *@
        <span class="">@Listing.Category.Name</span><br />
        Posted by: <a href="/profile/@Listing.User.Id" class="fw-bold">@Listing.User.FullName</a>
        <span><i class="oi oi-star text-warning"></i> @avgRating.ToString("n1") (@totalRatings)</span>
        <br/>
        <br/>
        @* description *@
        <div class="card-text">
            @if (Listing.Description.Length > 130)
            {
                if (showFullDescription)
{
                    <p class="lead">
                            @Listing.Description
                        <a href="javascript:void(0)" @onclick="() => showFullDescription = !showFullDescription">Show less</a>
                    </p>
                }
                else
                {
                    <p class="lead">
                        @Listing.Description.Substring(0, 130)<span>...</span>
                    <a href="javascript:void(0)" @onclick="() => showFullDescription = !showFullDescription">Show more</a>
                    </p>
                    
                }
                
            }
            else
            {
                <p class="lead">@Listing.Description </p>
            }
        </div>

        @* tags *@
        <div class="d-flex gap-3">
            @foreach (var tag in Listing.Tags)
            {
                <span class="fs-5 badge bg-info rounded-pill">@tag</span>
            }
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
        <div class="position-absolute p-3 bottom-0 end-0">

        <a href="listings/@Listing.Id" class="btn btn-primary rounded mb-0">View listing</a>
        </div>
    </div>
</div>

@code {
    // add a parameter that takes in a listing object
    [Parameter]
    public Listing Listing { get; set; }

    bool showFullDescription = false;

    string moreImages = "";
    double avgRating = 0;
    string totalRatings = "";

    protected override async Task OnInitializedAsync()
    {
        var ratings = await ApiClient.GetUserRatingByUserId(Listing.UserId);
        totalRatings = ratings.Count + " ratings";
        if (ratings.Count == 1)
            totalRatings = ratings.Count + " rating";


        if (ratings.Count > 0)
        {
            avgRating = ratings.Average(r => r.Rating);
        }

        if (Listing.ImagesBase64.Count > 1)
        {
            moreImages = $"{Listing.ImagesBase64.Count - 1} more image";
            if (Listing.ImagesBase64.Count-1 != 1)
                moreImages += "s";
        }
        StateHasChanged();

    }

    private void GoToListing()
    {
        navManager.NavigateTo($"/listings/{Listing.Id}");
    }
}
