@inject ApiClientService ApiClient
@inject NavigationManager navManager

@page "/listings/{Id:int}"
@using System.ComponentModel.DataAnnotations;
@using marketioBlazor.Components.Forms.Transactions
<PageTitle>market.io - View Listing</PageTitle>

@if (Listing != null)
{

<!-- Product section-->
<section class="container my-5">
        <div class="">
            @if (Listing.ImagesBase64.Count > 0)
            {
                <div class="d-flex justify-content-center bg-black mb-2">
                    <img src="@_selectedImage" style="width: 100%; height: 800px; object-fit: contain" />
                </div>
                
                <div class="d-flex overflow-auto">
                    @for (int i = 0; i < Listing.ImagesBase64.Count; i++)
                    {
                        var tmp = i;
                        <img src="@Listing.ImagesBase64[i].ImageAsBase64"
                        @onclick="() => SetSelectedImage(tmp)" class="me-2" alt="..." style="height: 120px; max-height:120px; cursor: pointer" />
                    }
                </div>
            }
            else
            {
                <br/>
                <br/>
                <br/>
                <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                    <h3 class="fw-bold">¯\_(ツ)_/¯</h3>
                    <span>This listing has no images.</span>
                </div>               
                <br/>
                <br />
                <hr/>
            }

            <br/>
            <br/>
            <div class="mt-6">
                <h1 class="display-5 fw-bolder">@Listing.Title</h1>
                <div class="fs-5">
                    <h2>@Listing.PriceString</h2>
                </div>

                <p class="mb-5 fw-bold fs-2">Posted by <a href="/profile/@Listing.UserId">@Listing.User.FullName</a></p>

                <span class="fw-bold lead">Description</span>
                <p class="lead">@Listing.Description</p>

                <br/>

                <p class="fs-4 fw-bold">Send a message to @Listing.User.FullName</p>
                <CreateTransactionForm Listing="@Listing" />
                
            </div>

            <br/>
            <a href="/listings"><i class="oi oi-arrow-circle-left pe-1"></i>Back to listings</a>

        </div>
</section>

<br/>

}

@code {
    [Parameter]
    public int Id { get; set; }

    public Listing Listing { get; set; }

    protected override async Task OnInitializedAsync()
    {        
        Listing = await ApiClient.GetByIdAsync<Listing>(Id);

        if (Listing == null)
        {
            navManager.NavigateTo("/error");
            return;
        }

        if (Listing.ImagesBase64.Count > 0)
        {
            _selectedImage = Listing.ImagesBase64[0].ImageAsBase64;
        }
    }



    private string _selectedImage = "";

    private void SetSelectedImage(int index)
    {
        _selectedImage = Listing.ImagesBase64[index].ImageAsBase64;
    }
    
}

