<div class="row border rounded-3">
    <div class="col-5 p-0">
        @if (Listing.ImagesBase64.Count > 0)
        {
            <a href="listings/@Listing.Id" class="overflow-hidden" >
            <img src="@Listing.ImagesBase64[0].ImageAsBase64" class="rounded-start img-fluid" />
            </a>
        }
        else
        {
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                <h3 class="fw-bold">¯\_(ツ)_/¯</h3>
                <span>This listing has no images.</span>
            </div>
        }
      
    </div>
    <div class="col p-3 position-relative">
       <div class="d-flex justify-content-between">
            @* title*@
            <h2 class="card-title font-weight-bold"><a class="text-decoration-none" href="listings/@Listing.Id">@Listing.Title</a></h2>
            @* price *@
            <h2 class="fw-light">@Listing.PriceString</h2>
       </div>

       @* category *@
        <span class="">@Listing.Category.Name</span>
        <br/>
        <br/>
        @* description *@
        <div class="card-text">
            @if (Listing.Description.Length > 130)
            {
                if (showFullDescription)
{
                    <p class="lead">
                            @Listing.Description
                        <a href="javascript:void(0)" @onclick="() => showFullDescription = !showFullDescription">Show less</a>
                    </p>
                }
                else
                {
                    <p class="lead">
                        @Listing.Description.Substring(0, 130)<span>...</span>
                    <a href="javascript:void(0)" @onclick="() => showFullDescription = !showFullDescription">Show more</a>
                    </p>
                    
                }
                
            }
            else
            {
                <p class="lead">@Listing.Description </p>
            }
        </div>

        @* tags *@
        <div class="d-flex gap-3">
            @foreach (var tag in Listing.Tags)
            {
                <span class="fs-5 badge bg-info rounded-pill">@tag</span>
            }
        </div>

        <br/>
        <br/>
        <div class="position-absolute p-3 bottom-0 end-0">

        <a href="listings/@Listing.Id" class="btn btn-primary mb-0">View listing</a>
        </div>
    </div>
</div>

@code {
    // add a parameter that takes in a listing object
    [Parameter]
    public Listing Listing { get; set; }

    bool showFullDescription = false;
}
