<CascadingAuthenticationState>
    <Blazored.Modal.CascadingBlazoredModal>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <div class="container my-5">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                    <a class="btn btn-primary rounded" href="/">Go to home page</a>
                    </div>
                </LayoutView>
            </NotFound>
        </Router>
    </Blazored.Modal.CascadingBlazoredModal>
</CascadingAuthenticationState>
