@inject ApiClientService ApiClient
@inject NavigationManager navManager
@inject IJSRuntime JsRuntime;

@page "/listings/{Id:int}"

@if (Listing != null)
{

<!-- Product section-->
<section class="container">
        <div class="">
            @if (Listing.ImagesBase64.Count > 0)
            {
                <div class="d-flex justify-content-center bg-black mb-2">
                    <img src="@_selectedImage" style="width: 100%" />
                </div>
                
                <div class="d-flex overflow-auto">
                    @for (int i = 0; i < Listing.ImagesBase64.Count; i++)
                    {
                        var tmp = i;
                        <img src="@Listing.ImagesBase64[i].ImageAsBase64"
                        @onclick="() => SetSelectedImage(tmp)" class="me-2" alt="..." style="height: 120px; max-height:120px; cursor: pointer" />
                    }
                </div>
            }
            else
            {
                <span>This listing has no images.</span>
                <br/>
            }

            <br/>
            <br/>
            <div class="mt-6">
                <h1 class="display-5 fw-bolder">@Listing.Title</h1>
                <div class="fs-5 mb-5">
                    <h2>@Listing.PriceString</h2>
                </div>

                <span class="fw-bold lead">Description</span>
                <p class="lead">@Listing.Description</p>

                <br/>
                <div class="d-flex">
                    <button @onclick="SendMessage" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Message Seller
                    </button>
                </div>
            </div>
        </div>
</section>

<br/>
<hr/>
<br/>

<!-- Related items section-->
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related listings</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}

@code {
    [Parameter]
    public int Id { get; set; }

    public Listing Listing { get; set; }

    string _message = "";

    protected override async Task OnInitializedAsync()
    {        
        Listing = await ApiClient.GetByIdAsync<Listing>(Id);


        if (Listing == null)
        {
            navManager.NavigateTo("/error");
            return;
        }

        if (Listing.ImagesBase64.Count > 0)
        {
            _selectedImage = Listing.ImagesBase64[0].ImageAsBase64;
        }
    }


    private string _selectedImage = "";

    private void SetSelectedImage(int index)
    {
        _selectedImage = Listing.ImagesBase64[index].ImageAsBase64;
    }


    #region messaging

    private void SendMessage()
    {
        
    }

    #endregion

    
}

